@{
    
}

<h1>Create</h1>
<table class="formTable">

    <tbody>
        <tr><td class="formTitle">Редактиране на работен цикъл към <b style="color:#ffffcc;"><a class="linkInTitle linkWithIcon" href="/hr_WorkingCycles/single/4M2Q/?ret_url=bgerp%2Fhr_WorkingCycleDetails%2Fedit%2F13ZWZ%2FPrevAndNext%2Fon%2Fret_url%2Fbgerp%252Fhr_WorkingCycles%252Fsingle%252F4M2Q_fa52e113_185ff3a3" style="background-image:url('/sbf/bgerp/img/16/timespan_1130170501.png');">Първа</a></b></td></tr>
        <tr>
            <td class="formSection">
                <div class="formInfo"><div id="editStatus"><span></span></div></div>
                <div class="formFields">
                    <table class="vFormField">
                        <tbody>
                            <tr class="filed-day "><td class="formFieldCaption"><b>Ден</b>:</td><td class="formElement"><select id="autoElement6158_1" data-hiddenname="day" readonly="readonly" class="readonly"><option>Ден1</option></select><input type="hidden" name="day" value="1"></td></tr>
                            <tr class="filed-start ">
                                <td class="formFieldCaption">Начало:</td>
                                <td class="formElement">
                                    <select onkeyup="colorByLen(this, 13);" class="w25 combo" name="start_cs" id="start4283_2_cs" onchange="comboSelectOnChange('start4283_2', this.value, 'start4283_2_cs');" tabindex="-1" style="visibility: visible; width: 138px; clip: rect(auto, auto, auto, 118px);">
                                        <option value=""></option>
                                        <option value="00:00">00:00</option>
                                        <option value="01:00">01:00</option>
                                        <option value="02:00">02:00</option>
                                        <option value="03:00">03:00</option>
                                        <option value="04:00">04:00</option>
                                        <option value="05:00">05:00</option>
                                        <option value="06:00">06:00</option>
                                        <option value="07:00">07:00</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                        <option value="19:00">19:00</option>
                                        <option value="20:00">20:00</option>
                                        <option value="21:00">21:00</option>
                                        <option value="22:00">22:00</option>
                                        <option value="23:00">23:00</option>
                                    </select><input onkeyup="colorByLen(this, 13);" class="w25 combo" type="text" name="start" id="start4283_2" value="09:00" autocomplete="off" style="width: 121px; margin-right: 17px; padding-right: 2px;">
                                </td>
                            </tr>
                            <tr class="filed-duration ">
                                <td class="formFieldCaption">Времетраене:</td>
                                <td class="formElement">
                                    <select onkeyup="colorByLen(this, 13);" class="w25 combo" name="duration_cs" id="duration2878_3_cs" onchange="comboSelectOnChange('duration2878_3', this.value, 'duration2878_3_cs');" tabindex="-1" style="visibility: visible; width: 138px; clip: rect(auto, auto, auto, 118px);">
                                        <option value=""></option>
                                        <option value="6 часа">6 часа</option>
                                        <option value="6 часа и 30 мин.">6 часа и 30 мин.</option>
                                        <option value="7 часа">7 часа</option>
                                        <option value="7 часа и 30 мин.">7 часа и 30 мин.</option>
                                        <option value="8 часа">8 часа</option>
                                        <option value="8 часа и 30 мин.">8 часа и 30 мин.</option>
                                        <option value="9 часа">9 часа</option>
                                        <option value="9 часа и 30 мин.">9 часа и 30 мин.</option>
                                        <option value="10 часа" selected="selected">10 часа</option>
                                        <option value="10 часа и 30 мин.">10 часа и 30 мин.</option>
                                        <option value="11 часа">11 часа</option>
                                        <option value="11 часа и 30 мин.">11 часа и 30 мин.</option>
                                        <option value="12 часа">12 часа</option>
                                    </select><input onkeyup="colorByLen(this, 13);" class="w25 combo" type="text" name="duration" id="duration2878_3" value="10 часа" autocomplete="off" style="width: 121px; margin-right: 17px; padding-right: 2px;">
                                </td>
                            </tr>
                            <tr class="filed-break ">
                                <td class="formFieldCaption">в т.ч. Почивка:</td>
                                <td class="formElement">
                                    <select onkeyup="colorByLen(this, 13);" class="w25 combo" name="break_cs" id="break1357_4_cs" onchange="comboSelectOnChange('break1357_4', this.value, 'break1357_4_cs');" tabindex="-1" style="visibility: visible; width: 138px; clip: rect(auto, auto, auto, 118px);">
                                        <option value=""></option>
                                        <option value="30 мин.">30 мин.</option>
                                        <option value="45 мин." selected="selected">45 мин.</option>
                                        <option value="1 час">1 час</option>
                                    </select><input onkeyup="colorByLen(this, 13);" class="w25 combo" type="text" name="break" id="break1357_4" value="45 мин." autocomplete="off" style="width: 121px; margin-right: 17px; padding-right: 2px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input name="id" value="13ZWZ" type="hidden"><input name="cycleId" value="4" type="hidden"><input name="ret_url" value="bgerp/hr_WorkingCycles/single/4M2Q_fa52e113" type="hidden"><input type="hidden" name="Cmd[default]" value="1">
            </td>
        </tr>
        <tr>
            <td style="padding:0px;">
                <div class="formToolbar">
                    <div class="clearfix21 toolbar" style="margin-bottom: 8px;"><input id="save" title="Запис на документа [Alt]+S" accesskey="S" name="Cmd[save]" type="submit" value="Запис" class="button linkWithIcon" style="background-image:url('/sbf/bgerp/img/16/disk_1130170501.png');"><input id="cancel" title="Прекратяване на действията [Alt]+C" accesskey="C" class="button linkWithIcon" style="background-image:url('/sbf/bgerp/img/16/close-red_1130170501.png');" onclick=" document.location='/hr_WorkingCycles/single/4M2Q'" type="button" value="Отказ"><input class="btn-disabled noicon fright button" disabled="disabled" title="Следващ [Alt]+>" accesskey=">" name="Cmd[save_n_next]" type="submit" value="»»»"><input class="noicon fright button" onclick="" type="button" value="2/2"><input class="noicon fright button" title="Предишен [Alt]+<" accesskey="<" name="Cmd[save_n_prev]" type="submit" value="«««"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>